{% extends "base.html" %}
{% block content %}
    <div class="container container">

        <div class="row">
            <dic class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <form action="/viewupdate" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td><B>REGISTER A USER</B></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input name ="name" type="text" class="form-control"></td>
                    </tr>
                      <tr>
                        <td>Address</td>
                        <td><textarea name ="address" type="text" class="form-control" style="height: 200px;width:190px ;"></textarea></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input name ="email" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Mobile number</td>
                        <td><input name ="mobile" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input name="pwd" type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Confrom password</td>
                        <td><input name="cfnpwd" type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type ="submit" class="btn btn-primary">REGISTER</button></td>
                    </tr>
                </table>
                <a href="/">Back to login page</a>
            </form>
            </dic>
        </div>
    </div>
{% endblock %}